<!DOCTYPE html>
<html>
<head>
    <title>Authors page</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            margin: 10px;
        }
        #search-button {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <a href="{{ path('welcome_index') }}" class="btn btn-primary" style="position: absolute; top: 10px; left: 10px;">Return to Index</a>
    <h1>Authors page</h1>

    <a href="{{ path('get_all_author') }}" class="btn">Get All Authors</a>
    <a href="{{ path('create_author') }}" class="btn" id="open-create-form">Create Author</a>
    <a href="#" class="btn" id="open-search-form">Search Authors</a>

    <form action="{{ path('find_author') }}" method="GET" class="search-form" style="display: none;">
        <input type="text" name="searchTerm" placeholder="Author Name">
        <button type="submit" class="btn btn-primary" id="search-button">Search</button>
    </form>

    <script>
        const openSearchFormButton = document.getElementById('open-search-form');
        const searchForm = document.querySelector('.search-form');
        const searchButton = document.getElementById('search-button');

        let isSearchFormVisible = false;

        openSearchFormButton.addEventListener('click', () => {
            if (isSearchFormVisible) {
                searchForm.style.display = 'none';
            } else {
                searchForm.style.display = 'block';
            }
            isSearchFormVisible = !isSearchFormVisible;
        });

        searchButton.addEventListener('submit', (event) => {
            event.preventDefault();

            const formData = new FormData(searchForm);

            fetch('{{ path('find_author') }}', {
                method: 'GET',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    // Обработайте результаты поиска и обновите интерфейс по вашему усмотрению.
                } else {
                    console.error('Произошла ошибка при поиске автора');
                }
            })
            .catch(error => {
                console.error('Произошла ошибка при отправке запроса:', error);
            });
        });
    </script>
</body>
</html>
